.header {
  background-color: #9687f8;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: blueviolet;
}

img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.search {
  display: flex;
  align-items: center;
}

.searchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBar {
  padding: 10px 15px;
  width: 250px;
  border: 2px solid #ccc;
  border-radius: 25px 0 0 25px;
  outline: none;
  font-size: 16px;
  transition: 0.3s ease;
}

.searchBar:focus {
  border-color: #6c63ff;
  box-shadow: 0 0 8px rgba(108, 99, 255, 0.5);
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #6c63ff;
  color: white;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #5548c8;
}
